<div class="base-class">
    <span class="text team-name">{{ data.home.name }}</span>
    <span class="text team-score">{{ data.home.score }}</span>
    <span class="text"> - </span>
    <span class="text team-score">{{ data.away.score }}</span>
    <span class="text team-name">{{ data.away.name }}</span>
</div>
