.base-class {
    display: block;
    width: 100%;
    height: 50px;
    background-color: purple;
}

.text {
    color: white;
    font-weight: bold;
    display: inline-block;
    font-family: Arial;
    font-size: 36px;
    line-heigth: 50px;
}
